.panel {
  width: 100%;
  font-family: "Noto Sans";
}

.panelone {
  height: 30rem;
  background-color: #b49fcc;
}

.paneltwo {
  height: 10rem;
  background-color: #39289c;
}

.panelthree {
  height: 10rem;
  background-color: #b49fcc;
}

.panelfour {
  height: 30rem;
  background-color: #b49fcc;
}

.box {
  background-color: #39289c;
  border-radius: 12px;
  padding: 20px;
  margin: 10px auto;
  height: 70%;
  width: 90%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
