.footerFlex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #412234;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff8f8;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
