.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* font-family: "Noto Sans"; */
  background-color: #acd8aa;
  height: 100dvh;
}

.panelone {
  width: 90%;
  height: 10rem;
}

.paneltwo {
  display: flex;
  justify-content: center;
  padding: 5px 0 5px 0;
  width: 90%;
  background-color: #f48498;
  border-radius: 2px;
}

.panelthree {
  padding: 10px 0 10px 0;
  flex-direction: column;
  justify-items: center;
}

.panelfour {
  height: 20rem;
  width: 90%;
  flex-direction: column;
  justify-items: center;
  padding-top: 10px;
}

.button {
  background-color: #412234;
  border: 1px solid #1b0e16;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
}

.box {
  background-color: #f48498;
  border-radius: 12px;
  padding: 20px;
  margin: 10px auto;
  height: 80%;
  width: 90%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
